:host ::ng-deep {
  .p-listbox{
    margin-bottom: 10px;
  }
  .p-listbox-filter-container{
    .p-listbox-filter{
      height: 30px;
    }
  }

  .p-dropdown {
    width: 14rem;
    font-weight: normal;
  }

  .product-name {
    font-size: 1rem;
    font-weight: 500;
  }

  .product-description {
    margin: 0 0 1rem 0;
  }

  .product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
  }

  .product-category {
    font-weight: 600;
    vertical-align: middle;
  }

  .product-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
    .product-grid-item-top,
    .product-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .product-grid-item-content img {
      width: 65%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin: 2rem 0;
    }

    .product-with-store{
      margin: 2rem 0;
      padding-left: 0;
      width: 100%;
      img{
        vertical-align: middle;
        border: 0;
        display: inline-block;
        width: auto;
        height: 20px;
      }
      li{
        list-style-type: none;
      }
      i{
        text-align: center;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        display: inline-table;
        width: 100%;
        text-decoration: none;
        color: #383838;
        overflow: hidden;
        white-space: normal;
        height: 34px;
        line-height: 34px;
        border-radius: 17px;
        padding: 0;
        background: #fafafa;
        box-shadow: 0 .75px 4px rgba(0,0,0,.3);
        bottom: -3px;
      }
      .l{
        -webkit-text-size-adjust: 100%;
        list-style: none;
        color: #3a6acb;
        margin: 0;
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        width: 100%;
        float: none;
        margin-top: 7px!important;
        padding: 0;
        bottom: 30px;
      }
    }

    .product-grid-item-content {
      text-align: center;
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

.card {
  padding: 1.75rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
  :host ::ng-deep .product-list-item {
    flex-direction: column;
    align-items: center;

    img {
      width: 75%;
      margin: 2rem 0;
    }

    .product-list-detail {
      text-align: center;
    }

    .product-price {
      align-self: center;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .product-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
